{% extends "admin/change_list.html" %}
{% load admin_static %}
{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "tree/css/tree.css" %}" />
</style>

{% endblock %}

{% block javascripts %}
  {{ block.super }} 
<script type="text/javascript">

  var STATIC_URL = '{{STATIC_URL}}';
  (function($) {
    $(document).ready(function() {
      $(window).resize(function() {
        height = $(window).height() - (
          $('#grp-content-title').offset().top + 
          $('#grp-content-title').height() +
          parseInt($('#grp-content').css("padding-top")) +
          parseInt($('#grp-content').css("padding-bottom"))
          );
        $('#tree-container').height(height);
      });
      $(window).resize();
    });
  })(django.jQuery);
  
  function getQueryVariable (variable) {
      var query = window.location.search.substring(1);
      var vars = query.split("&");
      for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split("=");
        if (pair[0] == variable) {
          return unescape(pair[1]);
        }
      }
      return null;
    }
  
  function on_item_click(item) {
    
    {% if is_popup %}
    
    var cb = getQueryVariable('opener_callback');
    if (cb !== null) {
      opener[cb](window, item)
    }
    
    //window.treeCallback(window, item);
    {% else %}
    document.location.href = item.admin_change_url + '?callback_url=' + '{{request.get_full_path|urlencode}}';
    {% endif %}
  }
  
  function on_item_edit(item) {
    
    var url = item.admin_change_url + '?callback_url=' + '{{request.get_full_path|urlencode}}';
    {% if is_popup %}
    url += '&_popup=1';
    {% endif %}
    document.location.href=url;
  }
  
</script>
<script type="text/javascript" src="{% static "tree/js/app/build/script/tree.js" %}"></script>
{% endblock %}

{% block object-tools %}{% endblock %}

{% block content %}<div id="tree-container" class="grp-module grp-changelist-results"></div>{% endblock %} 